/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/

	html,body,div,span,applet,object,iframe,
	h1,h2,h3,h4,h5,h6,p,blockquote,pre,
	a,abbr,acronym,address,big,cite,code,
	del,dfn,em,img,ins,kbd,q,s,samp,
	small,strike,strong,sub,sup,tt,var,
	b,u,i,center,
	dl,dt,dd,ol,ul,li,
	fieldset,form,label,legend,
	table,caption,tbody,tfoot,thead,tr,th,td,
	article,aside,canvas,details,embed,
	figure,figcaption,footer,header,hgroup,
	menu,nav,output,ruby,section,summary,
	time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
	
	/* HTML5 display-role reset for older browsers */
	article,aside,details,figcaption,figure,
	footer,header,hgroup,menu,nav,section{display:block;}
	body{line-height:1;}
	ol,ul{list-style:none;}
	blockquote,q{quotes:none;}
	blockquote:before,blockquote:after,
	q:before,q:after{content:'';content:none;}
	table{border-collapse:collapse;border-spacing:0;}

/********************************
			Fonts
*********************************/

@font-face {
    font-family: 'JungleFeverRegular';
    src: url('../fonts/JungleFever-webfont.eot');
    src: url('../fonts/JungleFever-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JungleFever-webfont.woff') format('woff'),
         url('../fonts/JungleFever-webfont.ttf') format('truetype'),
         url('../fonts/JungleFever-webfont.svg#JungleFeverRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/********************************
			Custom property
*********************************/
/* root is like the root of your html document - it means this property is available to your whole css document ( it has global scope) */
:root {
	--mud-brown:#542401;
	--jungle-green: #186b08;
}

/********************************
			Main
*********************************/

body{
	background-color: var(--jungle-green);
	font-family:Tahoma, Geneva, sans-serif;
}

header{
	text-align:center;
}

header h1{
	font-family:'JungleFeverRegular', 'Impact', Tahoma, Geneva, sans-serif;
	font-size:70px;
}

header h2{
	font-family:'JungleFeverRegular', 'Impact', Tahoma, Geneva, sans-serif;
	font-size:30px;
}

footer{
	font-size:16px;
	color:white;
	padding:10px 0 5px;
	margin-bottom:40px;
	text-align:center;
}

/********************************
	Special (added in class)
********************************/

main {
	/* subtract the value of the padding width from the width of our element */
	width: calc(960px - 90px);
	margin: auto;
	background-image: url(../images/corkback.jpg);
	background-repeat: repeat;
	/* three values mean top, left-right, bottom */
	padding: 25px 45px 45px;
	/* set the border for all the sides, then override it by just changing the top */
	border: 25px solid #542401;
	border-top-width: 55px;
	border-radius: 25px;
	/* in box shadow, the properties are:
		type
		x offset
		y offset 
		length (for size)
		colour */
	box-shadow: 5px 5px 10px black, inset 3px 3px 7px black;

	/* use display grid so we can set some pictures on the right and some on the left */
	display: grid;
	grid-template-columns: 1fr;
}

/* ***********************************************
				drop down
**************************************************/

nav {
	font-size: 2em;
	/* use the negative margin to pull this element up into the border */
	margin: -65px 0 25px;
}

/* using the direct child selector > to select only the ul that is a direct child */
nav > ul {
	display: flex;
	justify-content: flex-end;
}

nav > ul > li {
	padding: 0 10px;
	position: relative; /* so it will hold the absolutely positioned dropdown */
}

nav ul li ul {
	display: none;
}

nav a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

/* make the drop down appear when you hover over the nav item */
nav > ul > li:hover ul {
	display: block;
	position: absolute;
	background-color: var(--mud-brown)
}

/* add some spacing for the drop down links */
nav ul li ul a {
	/* line-height is defined based on the size of the font, where 1 is 100% of the font size */
	line-height: 1.5;
}

/* ******************picture******************** */

p {
	line-height: 1.4;
}

article {
	background-color: white;
	border: 10px solid #aaa;
	box-shadow: 2px 2px 4px rgb(50, 50, 50);
}
header article {
	margin: 20px 0;
	padding: 10px;
}

section article {
	width: 350px;
	padding: 23px;
	/* add position:relative so it can hold the absolutely positioned ::before pseudo class */
	position: relative;
}

/* use nth-child to make every other picture on the right side
	nth-child(3) would be only the third child
	nth-child(2n) would be every second child
	nth-child(2n +1) every second child starting with the third
	nth-child(2n - 1) every second child starting with the first
	you can do it the same with nth-of-type, nth-last-child or nth-last-of-type */
main section:nth-child(2n) {
	justify-self: end;
	/* add some negative margin to pull the other pictures towards these (make them look overlapping) */
	margin-top: -100px;
	margin-bottom: -100px;
}

section a {
	color:var(--jungle-green)
}

section a:hover {
	color: #2ce008;
}

/* use the pseudo class ::before to apply a tape effect to each picture
the before and after pseudo classes don't exist until you define them, and add some content inside */
section article::before {
	content: ' ';
	width: 180px;
	height: 50px;
/* with rgb, you can define an alpha channel for transparency - defined between 0 (full transparent) and 1 (fully opaque) */
	background-color: rgba(222, 222, 222, 0.6);
	position: absolute;
	left: 105px;
	top: -15px;
	z-index: 2;
	transform: rotate(-5deg);
}

section:nth-child(2n) article::before{
	transform: rotate(5deg);
}

header h1 {
	display: flex;
	justify-content: center;
}

/* use the ::first-letter pseudo class to change the title */
header h1 span {
	/* ::first-letter only works for block elements */
	display: block;
	margin: 0 15px;
}

header h1 span::first-letter {
	font-family: 'Moo Lah Lah', cursive;
	font-size: 1.3em;
}

/* *********************** attribute selector ******************** */

/* attribute selectors select HTML elements based on one of their properties, like src or href */
/* a[href] targets any "a" tag with an href (regardless of the value of that href)
or by value:
= means matches exactly
^= means begins with
&= means ends with
*= means contains */
a[href*="wiki"] {
	background-image: url(../images/wikipedia-icon.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top left;
	padding-left: 1.5em;
}

footer a {
	color: white;
}

footer a[href$=".com"]{
	color: #ff6a00;
}

/************************************** selection pseudo class *******************************/

p::selection {
	background-color: #ff6a00;
}